/* FOOTER.HTML CSS */

.footer_div_style {
    text-align:center;
    margin-top: 2rem;
}

.footer_button{
    font-size: .8rem;
}

.adminpage_create_footer_date {
    margin-top: 1rem;
    font-family: 'Overpass', sans-serif;
}

.adminpage_header {
    text-align:center; margin: 2rem 0;
}

.header_logo {
 font-family: 'Overpass', sans-serif;
}

.header_button {
    margin-right: 2rem;
}

@media screen and (max-width:500px) {
    html {
        font-size: 13px;
    }
}