<div class="adminpage_header">
    <div>
      <h1 class="header_logo">Managed Automation Page</h1>
    </div>
    <div style="margin: 2rem;">

        {% if not user.is_authenticated %}
        <a href="{% url 'accountapp:login' %}?next={{ request.path }}">
            <span class="header_button">Login</span>
        </a>
        {% else %}
        <a href="{% url 'accountapp:detail' pk=user.pk %}">
            <span class="header_button">MyPage</span>
        </a>
        <a href="{% url 'accountapp:logout' %}?next={{ request.path }}">
            <span class="header_button">Logout</span>
        </a>
        {% endif %}

    </div>
</div>