{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
  .container div {
    width: 250px;
    height: 200px;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border-radius: 1rem;
  }
  .container img {
  width: 100%;
  border-radius: 1rem;
  }
</style>

    <div class="container">
      <div class="item1">Jeus점검</div>
      <div class="item2">WebtoB점검</div>
      <div class="item3">Tomcat설치</div>
      <div class="item4">패스워드변경</div>
      <div class="item5">
          <img src="https://picsum.photos/200/160" alt="">
      </div>
    </div>

<div style="text-align: center;">
    <a href="{% url 'articleapp:create' %}" class="btn btn-dark rounded-pill col-3 mt-3 mb-3">
        자동화 스크립트 생성
    </a>
</div>
<script src="{% static 'js/magicgrid.js' %}"></script>
{% endblock %}

